<template>
  <div class="w-4/5 mx-auto mt-24">
    <Title header1="Meet our friends" role="" />

    <div class="grid grid-cols-1 desktop:grid-cols-3 desktop:gap-x-4 mt-12">
      <div
        v-for="profile in profileList"
        :key="profile.id"
        class="col-span-1 flex
     justify-center border-b border-black border-opacity-50 py-9"
      >
        <ProfileCard
          :id="profile.id"
          :friendsRequest="profile.fields['Is requestable']"
          :name="profile.fields.Name"
          :role="profile.fields.Role"
          :quote="profile.fields.Quote"
          :linkedin="profile.fields['Linkedin url']"
          :twitter="profile.fields['Twitter url']"
          :avatar="profile.fields['Profile image'][0].url"
        />
      </div>
    </div>
  </div>
</template>

<script>
import Title from "../components/Title.vue";
import ProfileCard from "../components/ProfileCard.vue";

export default {
  name: "Home",
  components: {
    Title,
    ProfileCard,
  },

  computed: {
    profileList() {
      return this.$store.state.profileList;
    },
  },
  created() {
    this.$store.dispatch("fetchProfileList");
  },
};
</script>
