<template>
  <div class="w-4/5 mx-auto mt-24">
    <!-- Title Profile -->
    <div
      class="flex flex-col desktop:flex-row w-full justify-start items-start desktop:justify-between desktop:items-center desktop:border-b border-black desktop:pb-2"
    >
      <h2
        class="text-header1 w-full desktop:w-auto font-bold border-b border-black desktop:border-none"
      >
        {{ profile.fields.Name }}
      </h2>
      <p class="font-bold text-role-color mb-5">{{ profile.fields.Role }}</p>

      <button
        @click="sendFriendRequest"
        :disabled="profile.fields['Is requestable'] ? false : true"
        class="text-button font-bold rounded-full px-4 py-3 border  "
        :class="
          profile.fields['Is requestable']
            ? 'bg-follow-button border-black'
            : 'bg-gray-400/50 border-gray-400 text-gray-400 cursor-not-allowed'
        "
      >
        Send Request
      </button>
    </div>
    <div class="flex flex-col desktop:flex-row justify-center desktop:justify-start items-center">
      <img
        class="rounded-lg mt-8 w-360 desktop:w-auto desktop:h-390 desktop:mr-16 "
        :src="profile.fields['Profile image'][0].url"
      />
      <div class="w-360 desktop:w-auto dekstop:h-390">
        <div class="relative">
          <img class="absolute -top-3 left-0" src="../assets/Quote-1.svg" />
          <p class="text-header2 font-bold w-9/12 mx-auto my-10">
            {{ profile.fields.Quote }}
          </p>
          <img class="absolute right-0 -bottom-3" src="../assets/Quote-2.svg" />
        </div>
        <p class="text-bio desktop:mt-14">{{ profile.fields.Bio }}</p>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "ProfileShow",

  data() {
    return {
      api_token: "keyEC9F0usYdVoWzg",
    };
  },

  computed: {
    profile() {
      return this.$store.state.profileList.find(
        (profile) => profile.id === this.$route.params.id
      );
    },
  },

  created() {
    this.$store.dispatch("fetchProfileList");
  },

  methods: {
    
    sendFriendRequest() {
      const bodyParameters = {
        records: [
          {
            fields: {
              From: "Andrea", // your name
              To: [
                this.$route.params.id, // member ID (use lists request to show possible values)
              ],
            },
          },
        ],
      };

      axios
        .post(
          "https://api.airtable.com/v0/app7cLoZ4xMOrQvKR/Friend%20request",
          JSON.stringify(bodyParameters),
          {
            headers: {
              Authorization: `Bearer ${this.api_token}`,
              "Content-Type": "application/json",
            },
          }
        )
        .then((response) => {
          console.log(response);
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>
