<template>
  <div class="flex flex-col desktop:flex-row">
    <router-link
    :to="`profile/${id}`"
      class="relative w-360 h-260 desktop:w-190 desktop:h-244 rounded-lg text-center bg-center bg-cover mb-5 desktop:mb-0 desktop:mr-3"
      :style="`background-image: url('${avatar}')`"
    >
    <img class="absolute top-3 left-3" :src="friendsRequest ? acceptFriendRequest : notAcceptFriendRequest ">
  </router-link>
    <div class="flex desktop:flex-col justify-between desktop:w-1/2">
      <div>
        <div class="text-header2 font-bold mb-1">{{ name }}</div>
        <div class="text-role font-bold text-role-color mb-2">{{ role }}</div>
        <p class="text-role w-360 desktop:w-full mb-9">{{ quote }}</p>
      </div>
      <div class="flex gap-2 -ml-16 desktop:ml-0">
        <a :href="linkedin">
          <img src="../assets/Linkedin.svg" />
        </a>

        <a :href="twitter">
          <img src="../assets/Twitter.svg" />
        </a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ProfileCard",

  props: {
    id: {
      required: true,
      type: String,
    },
    friendsRequest:{
      required: true,
    },
    name: {
      required: true,
      type: String,
    },
    role: {
      required: true,
      type: String,
    },
    quote: {
      required: true,
      type: String,
    },
    linkedin: {
      required: false,
      type: String,
    },
    twitter: {
      required: false,
      type: String,
    },
    avatar: {
      required: true,
      type: String,
    },
  },

  data() {
    return {
      acceptFriendRequest: require('../assets/Yes.svg'),
      notAcceptFriendRequest: require('../assets/No.svg'),
    };
  },
};
</script>

<style>
.card-dimension {
  width: 360px;
  height: 260px;
}
</style>
