<template>
    <div class="flex w-full justify-between items-center border-solid border-b border-black ">
          <h2 class="text-header1 font-bold border-b">{{header1}}</h2>
        <img src="../assets/Small-G.svg" />
    </div>
</template>

<script>

export default {
  name: "Title",


  props: {
    header1: {
      required: true,
      type: String,
    },
  },
};
</script>
