@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');

/* Additional styles */
@import './additional-style/utility-patterns.css';

/* Common properties */
body {
    font-family: 'Work Sans', sans-serif;
    background: linear-gradient(to right, #E0DBD0, #F6F4EF);
    
}