<template>
  <div>
    <router-view />
  </div>
</template>

<script>
export default {
  name: "App",
  components: {},
  data() {
    return {
      api_token: "keykl3tMFSnwH2gmc",
    };
  },
  created() {},

  methods: {},
};
</script>

<style></style>
